<center>
  <table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="
      max-width: 600px;
      margin: auto;
      background-color: #ffffff;
      padding: 20px;
      font-family: 'Arial', sans-serif;
    "
  >
    <tbody>
      <tr>
        <td align="center" style="padding-bottom: 20px">
          <img
            src="https://sawa-dev-2-storage-bucket.storage.googleapis.com/profiles/qrd5kgq1e0z7ykzz-ef863.png"
            alt="Stat Surgical Supply Logo"
            width="130"
            style="display: block; border: 0"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="padding-bottom: 15px">
          <h1
            style="color: #144e8b; font-size: 24px; margin: 0; font-weight: 600"
          >
            Hi! {{contactName}}
          </h1>
        </td>
      </tr>

      <tr>
        <td align="center" style="padding: 20px 0">
          <p
            style="color: #333333; font-size: 18px; line-height: 1.6; margin: 0"
          >
            {{p1}}
          </p>
        </td>
      </tr>

      <tr>
        <td
          align="center"
          style="
            background-color: #f4f4f4;
            padding: 15px;
            border-radius: 6px;
            margin: 0;
          "
        >
          <p
            style="color: #555555; font-size: 17px; line-height: 1.6; margin: 0"
          >
            {{p2}}
          </p>
        </td>
      </tr>

      <tr>
        <td
          align="center"
          style="
            background-color: #f4f4f4;
            padding: 15px;
            border-radius: 6px;
            margin-top: 10px;
          "
        >
          <p
            style="color: #555555; font-size: 17px; line-height: 1.6; margin: 0"
          >
            {{p3}}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</center>
