/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600&display=swap');
/*=============== TailWind ===============*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5rem;

  /*========== Colors ==========*/

  --title-color: #144e8b;
  --title-color-dark: #03793d;
  --text-color: #788b9b;
  --body-color: white;
  --container-color: #fff;
  --yellow: #ffd700;

  /*========== Font and typography ==========*/
  --title-font: 'Montserrat', sans-serif;
  --subtitle-font: 'Roboto', serif;
  --text-font: 'Lato', sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1052px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  margin-top: 8rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*=============== BREAKPOINTS ===============*/

/*=============== HEADER ===============*/
.logo {
  height: 6.5rem;
  width: auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.nav {
  height: 7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo {
  display: flex;
}
.nav__logo_2 {
  display: none;
  gap: 10px;
}
.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.09rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}
.nav__search-icon {
  display: block;
}
.search-title {
  display: none;
}
.nav-reverse {
  flex-direction: row-reverse;
  color: var(--title-color);
}

/* Active link  */

.active-link,
.nav__link:hover {
  color: var(--title-color-dark);
}
/* R logo  */
.r__logo {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*=============== BANNER ===============*/
.banner {
  background-color: white;
  color: var(--title-color-dark);
}

.text-title-color {
  color: var(--title-color);
}

.text-title-color-dark {
  color: var(--title-color-dark);
}

.text-text-color {
  color: var(--text-color);
}

.btn-audience {
  background-color: var(--title-color-dark);
}

.btn-audience:hover {
  background-color: var(--title-color);
}

.btn-call {
  background-color: var(--title-color-dark);
}

.btn-call:hover {
  background-color: var(--title-color);
}

.btn-contact {
  color: var(--title-color-dark);
}

.btn-contact:hover {
  color: var(--title-color);
}
.equal-button-size {
  flex: 1;
  width: 100%;
}
.fade-in-right {
  animation: fade-in-right 1s ease-in-out;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .banner-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-container,
  .image-container {
    flex-basis: 100%;
    max-width: 100%;
  }

  .image-container {
    display: none;
  }
}

/*=============== PRODUCT ITEM ===============*/
.card {
  @apply mb-5 block rounded-lg border-gray-200 shadow-md;
}

.primary-button {
  background-color: var(--title-color);
  color: var(--container-color);
  @apply rounded py-2 px-4 shadow outline-none hover:bg-gray-400 active:bg-gray-500;
}

.product-image {
  @apply w-full object-cover rounded-t-lg;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.product-image {
  grid-column: span 2;
}
.myBtn:hover {
  background-color: var(--title-color);
}
.cart-button {
  width: 100%;
}
.cart-badge {
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: xx-small;
  margin-left: -20%;
  @apply rounded-full px-1.5 py-0.5 text-xs font-bold;
}
.cart-badge:hover {
  background-color: var(--title-color-dark);
  cursor: pointer;
}
.break {
  display: none;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media (min-width: 1551px) {
  .container {
    max-width: 1430px;
  }
  .content {
    padding-top: 80px;
  }
  h2 {
    font-size: 48px;
    max-width: 550px;
  }
  .paragraph {
    font-size: 16px;
  }
  @media screen and (max-width: 992px) {
    .bannerWraper {
      padding-bottom: 70px;
    }
    .container {
      margin-left: var(--mb-1-5);
      margin-right: var(--mb-1-5);
    }

    .button {
      padding: 1rem 1.75rem;
    }

    .button__icon {
      width: 22px;
      height: 22px;
    }
    .content {
      padding-top: 40px;
    }
    h2 {
      font-size: 38px;
    }
    .paragraph {
      max-width: 400px;
    }
  }
  /* For medium devices */
  @media screen and (max-width: 800px) {
    .header {
      top: initial;
      bottom: 4px;
      background-color: var(--body-color);
      width: 95%;
      left: 13px;
      border-radius: 13px;
      margin-bottom: 9px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    }
    .search-bar {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: var(--z-fixed);
      background-color: var(--body-color);
    }

    .nav {
      height: var(--header-height);
      width: 90%;
    }
    .nav-reverse {
      flex-direction: row;
    }

    .nav__menu {
      position: fixed;
      bottom: -100%;
      left: 12px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      width: 93%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: 0.3s;
    }
    .content {
      flex: 0 0 100%;
      text-align: center;
      padding-top: 0px;
    }
    h2 {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
    .paragraph {
      margin-left: auto;
      margin-right: auto;
    }

    /* Show menu  */

    .show-menu {
      bottom: 0;
    }

    .nav__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }

    .nav-icon {
      font-size: 1.2rem;
    }

    .nav__close {
      position: absolute;
      right: 1.3rem;
      bottom: 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--title-color);
    }

    .nav__close:hover {
      color: var(--title-color-dark);
    }

    .nav__toggle {
      font-size: 1.1rem;
      cursor: pointer;
    }

    .nav__icon,
    .nav__toggle,
    .nav__close {
      display: block;
    }

    /*  two logo  */
    .nav__logo {
      display: none;
    }
    .nav__logo_2 {
      display: flex;
      align-items: center;
      min-height: 4.5rem;
    }
    .r__logo {
      width: 80%;
      height: auto;
    }
    .logo {
      height: 4.5rem;
      width: 100%;
    }
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .product-image {
      grid-column: span 1;
    }
    body {
      margin: 0 0 var(--header-height) 0;
    }

    .section {
      padding: 2rem 0 4rem;
    }

    .section__subtitle {
      margin-bottom: var(--mb-3);
    }
    .main {
      margin-top: 1rem;
    }
    .footer_1 {
      display: none;
    }
    .break {
      display: block;
    }
  }

  /* For small devices */
  @media screen and (max-width: 400px) {
    :root {
      --big-font-size: 2.25rem;
    }

    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
    .nav__menu {
      padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
      column-gap: 0;
    }
    .product-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    h2 {
      font-size: 32px;
      max-width: 360px;
    }
    .paragraph {
      font-size: 15px;
      max-width: 350px;
    }
  }

  /* For medium devices */
  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 576px) {
  }

  /* For small devices */
  @media screen and (max-width: 350px) {
    h2 {
      max-width: 310px;
      font-size: 28px;
    }
  }
}
