/*=============== TailWind ===============*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5rem;

  /*========== Colors ==========*/
  --title-color: #0e355e;
  --title-color-dark: #07783e;
  --text-color: #2c3339;
  --dark-text-color: #15191b;
  --body-color: white;
  --container-color: #fff;
  --yellow: #ffd700;
  --btn-color: #144e8b;
  --btn-color2: #5b8756;
  /*========== Font and typography ==========*/
  --title-font: "Montserrat", sans-serif;
  --subtitle-font: "Roboto", serif;
  --text-font: "Lato", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 2000;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.card ul li {
  padding: 12px 0;
  border-bottom: 1px solid #e1e1e1;
}

.card ul li:last-child {
  border-bottom: none;
}

img {
  max-width: 100%;
  width: 50;
  height: auto;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  min-height: 2.75rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 14px; /* Width of the scrollbar */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e6e4e4;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #144e8b; /* Thumb color */
  border-radius: 8px; /* Round edges of the scrollbar thumb */
  border: 3px solid #144e8b; /* To create padding-like effect, make thumb narrower */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5b8756; /* Change thumb color when hovered */
  border: 3px solid #5b8756; /* Keep the padding-like effect when hovered */
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*=============== BREAKPOINTS ===============*/

/*=============== HEADER ===============*/
.logo {
  height: 6.5rem;
  width: auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  justify-content: space-between;
}

.nav {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo {
  display: flex;
}
.nav__logo_2 {
  display: none;
  gap: 10px;
}
.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.09rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}
.nav__search-icon {
  display: block;
}
.search-title {
  display: none;
}
.nav-reverse {
  flex-direction: row-reverse;
  color: var(--title-color);
}

/* Active link  */

.active-link,
.nav__link:hover {
  color: var(--title-color-dark);
}
/* R logo  */
.r__logo {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*=============== BANNER ===============*/
.banner {
  background-color: white;
  color: var(--title-color-dark);
}

.text-title-color {
  color: var(--title-color);
}

.text-title-color-dark {
  color: var(--title-color-dark);
}

.text-text-color {
  color: var(--text-color);
}

.btn-audience {
  background-color: var(--title-color-dark);
}

.btn-audience:hover {
  background-color: var(--title-color);
}

.btn-call {
  visibility: hidden;
}

.btn-contact {
  background-color: var(--title-color-dark);
  color: var(--container-color);
}

.btn-contact:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.fade-in-right {
  animation: fade-in-right 1s ease-in-out;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .banner-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-container,
  .image-container {
    flex-basis: 100%;
    max-width: 100%;
  }

  .image-container {
    @apply order-first;
    width: 100%;
    height: auto;
  }
}

/*=============== PRODUCT ITEM ===============*/
.manufacturer-item {
  @apply flex flex-col items-center justify-center text-center;
}
.selected-manufactured {
  @apply bg-gray-200;
}
.card {
  @apply mt-3  rounded-lg border-gray-200 shadow-md mx-3;
}

.primary-button {
  background-color: var(--title-color);
  color: var(--container-color);
  @apply rounded py-2 px-4 shadow outline-none hover:bg-gray-400 active:bg-gray-500;
}
.secondary-button {
  background-color: var(--title-color-dark);
  color: var(--container-color);
  @apply rounded py-2 px-4 shadow outline-none hover:bg-gray-400 active:bg-gray-500;
}
.primary-button2 {
  background-color: var(--title-color);
  color: var(--container-color);
}
.product-image {
  @apply object-cover rounded-t-lg;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.product-image {
  grid-column: span 2;
  margin-bottom: 3%;
}
.product-description {
  overflow-wrap: initial;
  text-overflow: ellipsis;
  overflow-y: hidden;
  height: 3em;
}
.myBtn:hover {
  background-color: var(--title-color);
}

.table-auto th,
.table-auto td {
  padding: 12px 15px;
}

.table-auto th {
  background-color: #f7f7f7; /* Color de fondo suave */
  color: #788b9b; /* Color de texto suave */
}

.table-auto tr:nth-child(even) {
  background-color: #f7f7f7;
}

.cart-button {
  width: 100%;
}
.cart-badge {
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: xx-small;
  margin-left: -20%;
  @apply rounded-full px-1.5 py-0.5 text-xs font-bold;
}
.cart-badge:hover {
  background-color: var(--title-color-dark);
  cursor: pointer;
}
.no-drag {
  -webkit-user-select: none; /* Safari, Chrome, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, should be the last one */
}
.custom-context-menu {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e6e6e6;
}

/*=============== CAROUSEL ===============*/
.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel-items {
  display: flex;
  transition: all 0.5s ease-in-out;
  user-select: none;
}

/* Assuming each ProductItem has a fixed width */
.carousel-item {
  flex: 0 0 auto;
  width: calc(100% / 3); /* default to 3 items visible */
}

@media (max-width: 768px) {
  .carousel-item {
    width: 100%; /* for mobile */
    user-select: none;
  }
}

/*=============== SING UP/SING IN ===============*/
.user-name {
  @apply ml-4 mb-2;
}
.dropdown-link {
  @apply rounded focus:ring ml-4 mt-4;
}
.loginmenu {
  grid-column: 1;
}

.info-block div {
  @apply mb-4;
}
/*=============== STATIC BANNER ===============*/
.static-banner-container {
  width: 100%;
  height: 20%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveUp 2s ease infinite alternate; /* Animation properties */
}

.banner-content {
  text-align: center;
  padding: 20px;
}

.banner-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-description {
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--dark-text-color);
  font-weight: var(--font-semi-bold);
}

.banner-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.banner-button:hover {
  background-color: #0056b3;
}
.banner-link {
  text-decoration: underline var(--title-color-dark);
  color: var(--title-color-dark);
  font-weight: bold;
}
.link-space {
  text-decoration: none;
  color: var(--title-color-dark);
}
.link-space-1 {
  text-decoration: none;
  color: var(--text-color);
}

/* Animation keyframes */
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*=============== ABOUT ===============*/
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.image-container {
  flex: 0 0 30%; /* Adjust the width of the image container as needed */
}

.about-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.content-container {
  flex: 0 0 70%; /* Adjust the width of the content container as needed */
  padding-left: 20px; /* Add some spacing between the image and text */
}

.about-content {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.about-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/*=============== CONTACT ===============*/
.contact__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 1rem;
  padding-bottom: 1rem;
}
.contact__title {
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: 500;
  margin-bottom: 20px;
}

.contact__info {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.contact__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
  margin: 1%;
}

.contact__card:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

.contact__card-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-25);
}

.contact__card-title,
.contact__card-data {
  font-size: var(--small-font-size);
}

.contact__card-title {
  font-weight: var(--font-medium);
}
.contact__card-data {
  display: block;
  margin-bottom: var(--mb-0-25);
}

.contact__button {
  color: var(--title-color);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.contact__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}
.contact__button:hover .contact__button-icon {
  transform: translate(0.25rem);
}

.contact__form {
  width: 360px;
}

.contact__form-div {
  position: relative;
  margin-bottom: var(--mb-2);
  height: auto;
  width: 100%;
}
.contact__form_searched-div {
  position: relative;
  margin-bottom: var(--mb-2);
  height: auto;
  width: 100%;
  margin-top: 3%;
}

.contact__form-input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: none;
  color: var(--text-color);
  outline: none;
  border-radius: 0.75rem;
  padding: 0.5rem;
  z-index: 1;
}
.contact__form-inputs {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 0.5rem;
  border-radius: 0.75rem;

  z-index: 1;
}

.contact__form-input,
.contact__form-inputs {
  height: 45px;
  min-height: 40px;
  padding: 10px 14px;
  font-size: 1rem;
  line-height: normal;
}

.contact__message {
  resize: none;
}
.contact__message::-webkit-scrollbar {
  width: 10px;
}
.contact__message::-webkit-scrollbar-track {
  background: var(--pink);
}

.contact__message::-webkit-scrollbar-thumb {
  background-color: var(--title-color);
  border-radius: 20px;
}
.contact__message::-webkit-scrollbar-thumb:hover {
  background-color: var(--title-color-dark);
}

.contact__form-tag {
  position: absolute;
  top: -0.95em;
  left: 1.25rem;
  font-size: var(-smaller-font-size);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: 10;
}

.contact__form-area {
  height: 11rem;
  resize: none;
}
.contact__form-area textarea {
  resize: none;
}
/*=============== MANUFACTURER FORM ===============*/
.manufacturer__title {
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: 500;
  margin-bottom: 20px;
}
.manufacturer__form {
  width: 90%;
}

.manufacturer__form-div {
  position: relative;
  margin-bottom: var(--mb-2);
  height: 4rem;
  width: 100%;
}

.manufacturer__form-input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: none;
  color: var(--text-color);
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
}
.manufacturer__message {
  resize: none;
}
.manufacturer__message::-webkit-scrollbar {
  width: 10px;
}
.manufacturer__message::-webkit-scrollbar-track {
  background: var(--pink);
}

.manufacturer__message::-webkit-scrollbar-thumb {
  background-color: var(--title-color);
  border-radius: 20px;
}
.manufacturer__message::-webkit-scrollbar-thumb:hover {
  background-color: var(--title-color-dark);
}

.manufacturer__form-tag {
  position: absolute;
  top: -0.95em;
  left: 1.25rem;
  font-size: var(-smaller-font-size);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: 10;
}

.manufacturer__form-area {
  height: 11rem;
  resize: none;
}
.manufacturer__form-area textarea {
  resize: none;
}
/*=============== ORDER PAGE ===============*/
.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
.buttons-container {
  width: 80%;
  margin-right: 10%;
  padding-left: 0%;
}

/*=============== FOOTER ===============*/
.footer {
  background-color: #f3f3f3;
  color: var(--title-color);
  padding: 20px;
  width: 100%;
  min-height: 400px;
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-linkGroup {
  margin-right: 20px;
}

.footer-links {
  display: flex;
}

.footer-contactInfo {
  max-width: 300px;
}

.footer-copyright {
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}

/*=============== BREAKPOINTS ===============*/

/* For large devices */
@media screen and (max-width: 992px) {
  .contact__container {
    column-gap: 3rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
  }
  .contact__info {
    justify-content: center;
  }
  .contact__form {
    margin: 0 auto;
  }
  .card {
    @apply mt-3 rounded-lg border-gray-200 shadow-md mx-3;
  }
}

@media screen and (max-width: 576px) {
  .contact__info {
    grid-template-columns: 1fr;
  }
  .contact__form {
    width: 100%;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .image-container {
    @apply order-first justify-self-center;
    width: 50%;
    height: auto;
  }
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}
/* For medium devices */
@media screen and (max-width: 800px) {
  .container {
    width: 95%;
  }
  .image-container {
    @apply order-first;
    width: 70%;
    height: auto;
  }
  .header {
    top: initial;
    bottom: 4px;
    background-color: var(--body-color);
    width: 95%;
    left: 13px;
    border-radius: 13px;
    margin-bottom: 9px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  .search-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    margin-bottom: 2%;
  }

  .nav {
    height: var(--header-height);
    width: 90%;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .search-field {
    width: 80%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .nav-field {
    margin-bottom: 2%;
    width: 90%;
  }
  .nav-reverse {
    flex-direction: row;
  }

  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 12px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    width: 93%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  /* Show menu  */

  .show-menu {
    bottom: 0;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .nav-icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }

  .nav__close:hover {
    color: var(--title-color-dark);
  }

  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__icon,
  .nav__toggle,
  .nav__close {
    display: block;
  }

  /*  two logo  */
  .nav__logo {
    display: none;
  }
  .nav__logo_2 {
    display: flex;
    align-items: center;
    min-height: 4.5rem;
  }
  .r__logo {
    width: 80%;
    height: auto;
  }
  .logo {
    height: 4.5rem;
    width: 100%;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-image {
    grid-column: span 1;
    justify-self: center;
  }
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
  .main {
    margin-top: 1rem;
  }
  .equal-button-size {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .user-name {
    @apply ml-4;
  }

  .footer {
    padding-bottom: 130px;
  }

  .dropdown-menu {
    position: absolute;
    bottom: 100%; /* Position the menu above the button */
    width: 10rem;
    margin-bottom: 1rem; /* Adjust the margin to create spacing between the menu and the button */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Change the shadow direction */
    background-color: #fff;
    border-radius: 0.375rem;
    z-index: 100;
    padding: 1%;
  }
}

.scroll-container {
  overflow-y: auto; /* Permite el scroll vertical */
  height: 100vh; /* Ajusta la altura según sea necesario */
}

/* For small devices */

@media screen and (max-width: 400px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn-call {
    visibility: visible;
    background-color: var(--title-color-dark);
  }
  .btn-call:hover {
    background-color: var(--title-color);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
.text-wrap-image {
  float: left; /* Float the image to the left */
  margin-right: 20px; /* Adjust the margin to create the wrap effect */
}
